import { Tags } from 'aws-cdk-lib';
import { Construct } from 'constructs';
import { Organization, OrganizationProps } from '../organization';

export interface ${class_name}Props extends OrganizationProps {
    readonly dependencies?: string[];
}

export abstract class ${class_name} extends Organization {
    constructor(scope: Construct, id: string, props: ${class_name}Props) {
        super(scope, id, props);

        Tags.of(this).add('ou', '${ou}')

        this.ous.push('${ou}');
    }
}