${imports}
import { RegionConfigBase } from "./region-base"


const RegionConfigs: { [region: string]: RegionConfigBase } = {
    ${configs}
    // ..add additional region configs
}

export { RegionConfigs }