import { Resource, ResourceProps } from 'aws-cdk-lib';
import * as sns from 'aws-cdk-lib/aws-sns';
import { Construct } from 'constructs';

export interface SnsTopicProps extends ResourceProps {

}

export class SnsTopic extends Resource {
  // Resource properties
  public readonly helloWorldSnsTopic: sns.Topic;

  constructor(scope: Construct, id: string, props: SnsTopicProps) {
    super(scope, id, props);

    this.helloWorldSnsTopic = new sns.Topic(this, "helloword")
  }
}